{{ if isset .Site.Params "googletag" }}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.GoogleTag }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .Site.Params.GoogleTag }}');
</script>
<script>
	gtag('config', '{{ .Site.Params.GoogleTag }}/t9O2CPjI95kZEP-5jeAD', {
	  'phone_conversion_number': '{{ .Site.Params.Phone }}'
  });
</script>
{{ end }}
